$background: #191619;
$foreground: #f4eadf;
$color0: #241f25;
$color1: #dc7f86;
$color2: #a6b88f;
$color3: #dcc298;
$color4: #99b6bd;
$color5: #b39bc4;
$color6: #a2c4be;
$color7: #e3d8cd;
$color8: #756b72;
$color9: #e99ca1;
$color10: #b8cda1;
$color11: #f0d6ad;
$color12: #abcbd3;
$color13: #cab2db;
$color14: #b9d9d2;
$color15: #f4eadf;
